<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.reportinglosses.mapper.ReportingLossesMapper">
    
    <resultMap type="ReportingLosses" id="ReportingLossesResult">
        <result property="rId"    column="r_id"    />
        <result property="sId"    column="s_id"    />
        <result property="oId"    column="o_id"    />
        <result property="datetime"    column="datetime"    />
        <result property="fruitsId"    column="fruits_id"    />
        <result property="number"    column="number"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="totalPrice"    column="total_price"    />
        <result property="cause"    column="cause"    />
        <result property="isStatus"    column="is_status"    />
        <result property="REVISION"    column="REVISION"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="createdTime"    column="CREATED_TIME"    />
        <result property="updatedBy"    column="UPDATED_BY"    />
        <result property="updatedTime"    column="UPDATED_TIME"    />
        <association property="fruits" javaType="Fruits" column="fruits_id">
            <result property="name"    column="name"    />
        </association>
    </resultMap>

    <sql id="selectReportingLossesVo">
        select reportinglosses.*,fruits.name
        from reportinglosses left join fruits
        on  reportinglosses.fruits_id= fruits.code
    </sql>

    <select id="selectReportingLossesList" parameterType="ReportingLosses" resultMap="ReportingLossesResult">
        <include refid="selectReportingLossesVo"/>
        <where>  
            <if test="sId != null  and sId != ''"> and s_id = #{sId}</if>
            <if test="oId != null  and oId != ''"> and o_id = #{oId}</if>
            <if test="datetime != null "> and datetime = #{datetime}</if>
            <if test="fruitsId != null  and fruitsId != ''"> and fruits_id = #{fruitsId}</if>
            <if test="number != null "> and number = #{number}</if>
            <if test="unitPrice != null "> and unit_price = #{unitPrice}</if>
            <if test="totalPrice != null  and totalPrice != ''"> and total_price = #{totalPrice}</if>
            <if test="cause != null  and cause != ''"> and cause = #{cause}</if>
            <if test="isStatus != null "> and reportinglosses.is_status = #{isStatus}</if>
            <if test="REVISION != null "> and REVISION = #{REVISION}</if>
            <if test="createdBy != null  and createdBy != ''"> and CREATED_BY = #{createdBy}</if>
            <if test="createdTime != null "> and CREATED_TIME = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and UPDATED_BY = #{updatedBy}</if>
            <if test="updatedTime != null "> and UPDATED_TIME = #{updatedTime}</if>
        </where>
    </select>
    
    <select id="selectReportingLossesByRId" parameterType="Long" resultMap="ReportingLossesResult">
        <include refid="selectReportingLossesVo"/>
        where r_id = #{rId}
    </select>
        
    <insert id="insertReportingLosses" parameterType="ReportingLosses" useGeneratedKeys="true" keyProperty="rId">
        insert into reportinglosses
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sId != null">s_id,</if>
            <if test="oId != null">o_id,</if>
            <if test="datetime != null">datetime,</if>
            <if test="fruitsId != null">fruits_id,</if>
            <if test="number != null">number,</if>
            <if test="unitPrice != null">unit_price,</if>
            <if test="totalPrice != null">total_price,</if>
            <if test="cause != null">cause,</if>
            <if test="isStatus != null">is_status,</if>
            <if test="REVISION != null">REVISION,</if>
            <if test="createdBy != null">CREATED_BY,</if>
            <if test="createdTime != null">CREATED_TIME,</if>
            <if test="updatedBy != null">UPDATED_BY,</if>
            <if test="updatedTime != null">UPDATED_TIME,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sId != null">#{sId},</if>
            <if test="oId != null">#{oId},</if>
            <if test="datetime != null">#{datetime},</if>
            <if test="fruitsId != null">#{fruitsId},</if>
            <if test="number != null">#{number},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="totalPrice != null">#{totalPrice},</if>
            <if test="cause != null">#{cause},</if>
            <if test="isStatus != null">#{isStatus},</if>
            <if test="REVISION != null">#{REVISION},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateReportingLosses" parameterType="ReportingLosses">
        update reportinglosses
        <trim prefix="SET" suffixOverrides=",">
            <if test="sId != null">s_id = #{sId},</if>
            <if test="oId != null">o_id = #{oId},</if>
            <if test="datetime != null">datetime = #{datetime},</if>
            <if test="fruitsId != null">fruits_id = #{fruitsId},</if>
            <if test="number != null">number = #{number},</if>
            <if test="unitPrice != null">unit_price = #{unitPrice},</if>
            <if test="totalPrice != null">total_price = #{totalPrice},</if>
            <if test="cause != null">cause = #{cause},</if>
            <if test="isStatus != null">is_status = #{isStatus},</if>
            <if test="REVISION != null">REVISION = #{REVISION},</if>
            <if test="createdBy != null">CREATED_BY = #{createdBy},</if>
            <if test="createdTime != null">CREATED_TIME = #{createdTime},</if>
            <if test="updatedBy != null">UPDATED_BY = #{updatedBy},</if>
            <if test="updatedTime != null">UPDATED_TIME = #{updatedTime},</if>
        </trim>
        where r_id = #{rId}
    </update>

    <delete id="deleteReportingLossesByRId" parameterType="Long">
        delete from reportinglosses where r_id = #{rId}
    </delete>

    <delete id="deleteReportingLossesByRIds" parameterType="String">
        delete from reportinglosses where r_id in 
        <foreach item="rId" collection="array" open="(" separator="," close=")">
            #{rId}
        </foreach>
    </delete>

</mapper>