<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.orderforgoods.mapper.ReturnParticularsMapper">
    
    <resultMap type="ReturnParticulars" id="ReturnParticularsResult">
        <result property="mId"    column="m_id"    />
        <result property="rdNumber"    column="rd_number"    />
        <result property="time"    column="time"    />
        <result property="judge"    column="judge"    />
        <result property="sId"    column="s_id"    />
        <result property="fruitId"    column="fruit_id"    />
        <result property="rdCount"    column="rd_count"    />
    </resultMap>

    <sql id="selectReturnParticularsVo">
        select m_id, rd_number, time, judge, s_id, fruit_id, rd_count from return_particulars
    </sql>

    <select id="selectReturnParticularsList" parameterType="ReturnParticulars" resultMap="ReturnParticularsResult">
        <include refid="selectReturnParticularsVo"/>
        <where>  
            <if test="rdNumber != null  and rdNumber != ''"> and rd_number = #{rdNumber}</if>
            <if test="time != null "> and time = #{time}</if>
            <if test="judge != null  and judge != ''"> and judge = #{judge}</if>
        </where>
    </select>
    
    <select id="selectReturnParticularsByMId" parameterType="Long" resultMap="ReturnParticularsResult">
        <include refid="selectReturnParticularsVo"/>
        where m_id = #{mId}
    </select>

    <insert id="insertReturnParticulars" parameterType="ReturnParticulars" useGeneratedKeys="true" keyProperty="mId">
        insert into return_particulars
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rdNumber != null">rd_number,</if>
            <if test="time != null">time,</if>
            <if test="judge != null">judge,</if>
            <if test="sId != null">s_id,</if>
            <if test="fruitId != null">fruit_id,</if>
            <if test="rdCount != null">rd_count,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rdNumber != null">#{rdNumber},</if>
            <if test="time != null">#{time},</if>
            <if test="judge != null">#{judge},</if>
            <if test="sId != null">#{sId},</if>
            <if test="fruitId != null">#{fruitId},</if>
            <if test="rdCount != null">#{rdCount},</if>
        </trim>
    </insert>

    <update id="updateReturnParticulars" parameterType="ReturnParticulars">
        update return_particulars
        <trim prefix="SET" suffixOverrides=",">
            <if test="rdNumber != null">rd_number = #{rdNumber},</if>
            <if test="time != null">time = #{time},</if>
            <if test="judge != null">judge = #{judge},</if>
            <if test="sId != null">s_id = #{sId},</if>
            <if test="fruitId != null">fruit_id = #{fruitId},</if>
            <if test="rdCount != null">rd_count = #{rdCount},</if>
        </trim>
        where m_id = #{mId}
    </update>
    <delete id="deleteReturnParticularsByMId" parameterType="Long">
        delete from return_particulars where m_id = #{mId}
    </delete>

    <delete id="deleteReturnParticularsByMIds" parameterType="String">
        delete from return_particulars where m_id in 
        <foreach item="mId" collection="array" open="(" separator="," close=")">
            #{mId}
        </foreach>
    </delete>

    <!--条件查询-->
    <select id="selectReturnParticularsBySIdAndFruitId" parameterType="ReturnParticulars" resultMap="ReturnParticularsResult">
        <include refid="selectReturnParticularsVo"/>
        <where>
            <if test="sId != null  and sId != ''"> and s_id = #{sId}</if>
            <if test="fruitId != null  and fruitId != ''"> and fruit_id = #{fruitId}</if>
        </where>
    </select>
</mapper>