<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('退货单明细列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>门店编号：</label>
                                <input type="text" name="sId"/>
                            </li>
                            <li>
                                <label>入库单编号：</label>
                                <input type="text" name="warehousingId"/>
                            </li>
                            <li>
                                <label>退货编号：</label>
                                <input type="text" name="rdNumber"/>
                            </li>
                            <li>
                                <label>水果类型：</label>
                                <input type="text" name="fruittypesId"/>
                            </li>
                            <li>
                                <label>水果编号：</label>
                                <input type="text" name="fruitId"/>
                            </li>
                            <li>
                                <label>重量：</label>
                                <input type="text" name="rdCount"/>
                            </li>
                            <li>
                                <label>乐观锁：</label>
                                <input type="text" name="REVISION"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('returnorderdetails:returnorderdetails:edit')}]];
        var removeFlag = [[${@permission.hasPermi('returnorderdetails:returnorderdetails:remove')}]];
        var prefix = ctx + "returnorderdetails/returnorderdetails";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "退货单明细",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'rdId',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'sId',
                    title: '门店编号'
                },
                {
                    field: 'warehousingId',
                    title: '入库单编号'
                },
                {
                    field: 'rdNumber',
                    title: '退货编号'
                },
                {
                    field: 'fruittypesId',
                    title: '水果类型'
                },
                {
                    field: 'fruitId',
                    title: '水果编号'
                },
                {
                    field: 'rdCount',
                    title: '重量(kg)'
                },
                {
                    field: 'REVISION',
                    title: '乐观锁'
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>