<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.guoran.price.mapper.PriceFruitPriceMapper">
    
    <resultMap type="FruitPrice" id="FruitPriceResult">
        <result property="pId"    column="p_id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="maxprice"    column="maxprice"    />
        <result property="price"    column="price"    />
        <result property="zhekou"    column="zhekou"    />
        <result property="REVISION"    column="REVISION"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="createdTime"    column="CREATED_TIME"    />
        <result property="updatedBy"    column="UPDATED_BY"    />
        <result property="updatedTime"    column="UPDATED_TIME"    />
    </resultMap>

    <sql id="selectFruitPriceVo">
        select p_id, code, name, maxprice, price, zhekou from fruit_price
    </sql>

    <select id="selectFruitPriceList" parameterType="FruitPrice" resultMap="FruitPriceResult">
select  a.p_id, b.code, b.name, a.maxprice, a.price, a.zhekou  from fruit_price a left join
    fruits b on a.code = b.code
        <where>
            <if test="code != null  and code != ''"> and b.code = #{code}</if>
            <if test="name != null  and name != ''"> and b.name like concat('%', #{name}, '%')</if>
            <if test="maxprice != null "> and a.maxprice = #{maxprice}</if>
            <if test="price != null "> and a.price = #{price}</if>
            <if test="zhekou != null "> and a.zhekou = #{zhekou}</if>
        </where>
    </select>
    
    <select id="selectFruitPriceByPId" parameterType="Long" resultMap="FruitPriceResult">
        <include refid="selectFruitPriceVo"/>
        where p_id = #{pId}
    </select>
        
    <insert id="insertFruitPrice" parameterType="FruitPrice">
        insert into fruit_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pId != null">p_id,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="maxprice != null">maxprice,</if>
            <if test="price != null">price,</if>
            <if test="zhekou != null">zhekou,</if>
            <if test="REVISION != null">REVISION,</if>
            <if test="createdBy != null">CREATED_BY,</if>
            <if test="createdTime != null">CREATED_TIME,</if>
            <if test="updatedBy != null">UPDATED_BY,</if>
            <if test="updatedTime != null">UPDATED_TIME,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pId != null">#{pId},</if>
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="maxprice != null">#{maxprice},</if>
            <if test="price != null">#{price},</if>
            <if test="zhekou != null">#{zhekou},</if>
            <if test="REVISION != null">#{REVISION},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateFruitPrice" parameterType="FruitPrice">
        update fruit_price
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="maxprice != null">maxprice = #{maxprice},</if>
            <if test="price != null">price = #{price},</if>
            <if test="zhekou != null">zhekou = #{zhekou},</if>
            <if test="REVISION != null">REVISION = #{REVISION},</if>
            <if test="createdBy != null">CREATED_BY = #{createdBy},</if>
            <if test="createdTime != null">CREATED_TIME = #{createdTime},</if>
            <if test="updatedBy != null">UPDATED_BY = #{updatedBy},</if>
            <if test="updatedTime != null">UPDATED_TIME = #{updatedTime},</if>
        </trim>
        where p_id = #{pId}
    </update>

    <delete id="deleteFruitPriceByPId" parameterType="Long">
        delete from fruit_price where p_id = #{pId}
    </delete>

    <delete id="deleteFruitPriceByPIds" parameterType="String">
        delete from fruit_price where p_id in 
        <foreach item="pId" collection="array" open="(" separator="," close=")">
            #{pId}
        </foreach>
    </delete>
    <select id="selectJ">
        select jinjia from warehousestock where fruit_id=#{code}
    </select>
    <select id="selectID">
        select fruit_id
        from fruits
        where code = #{code};

    </select>


    <update id="insertBCprice">
        update  fruit_price set maxprice=#{param1},price=#{param2} where code=#{param3}
    </update>
</mapper>