<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.guoran.inventory.mapper.FruitsMapper">
    
    <resultMap type="Fruits" id="FruitsResult">
        <result property="fruitId"    column="fruit_id"    />
        <result property="fruittypesId"    column="fruitTypes_id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="img" column="img"/>
        <result property="isStatus"    column="is_status"    />
        <result property="REVISION"    column="REVISION"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="createdTime"    column="CREATED_TIME"    />
        <result property="updatedBy"    column="UPDATED_BY"    />
        <result property="updatedTime"    column="UPDATED_TIME"    />
    </resultMap>

    <sql id="selectFruitsVo">
        select fruit_id, fruitTypes_id, code, name, img, is_status, REVISION, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME from fruits
    </sql>

    <select id="selectFruitsList" parameterType="Fruits" resultMap="FruitsResult">
        <include refid="selectFruitsVo"/>
        <where>  
            <if test="fruittypesId != null and fruittypesId != ''"> and fruitTypes_id = #{fruittypesId}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="isStatus != null "> and is_status = #{isStatus}</if>
        </where>
    </select>
    
    <select id="selectFruitsByFruitId" parameterType="Long" resultMap="FruitsResult">
        <include refid="selectFruitsVo"/>
        where fruit_id = #{fruitId}
    </select>

<!--  根据水果种类名称 查询水果种类编号  -->
    <select id="selectFruitTypeId" parameterType="String" resultType="String">
        select code from fruittypes where name = #{name}
    </select>

    <!--  根据水果种类编号 查询水果种类名称  -->
    <select id="selectFruitTypeName" parameterType="String" resultType="String">
        select name from fruittypes where code = #{code}
    </select>

    <insert id="insertFruits" parameterType="Fruits" useGeneratedKeys="true" keyProperty="fruitId">
        insert into fruits
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fruittypesId != null and fruittypesId != ''">fruitTypes_id,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="img != null and img != ''">img,</if>
            <if test="REVISION != null">REVISION,</if>
            <if test="createdBy != null">CREATED_BY,</if>
            <if test="createdTime != null">CREATED_TIME,</if>
            <if test="updatedBy != null">UPDATED_BY,</if>
            <if test="updatedTime != null">UPDATED_TIME,</if>
            <if test="isStatus != null">is_status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fruittypesId != null and fruittypesId != ''">#{fruittypesId},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="img != null and img != ''">#{img},</if>
            <if test="REVISION != null">#{REVISION},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
            <if test="isStatus != null">#{isStatus},</if>
        </trim>
    </insert>

    <update id="updateFruits" parameterType="Fruits">
        update fruits
        <trim prefix="SET" suffixOverrides=",">
            <if test="fruittypesId != null and fruittypesId !=''">fruitTypes_id = #{fruittypesId},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="img != null and img != ''">img = #{img},</if>
            <if test="REVISION != null">REVISION = #{REVISION},</if>
            <if test="createdBy != null">CREATED_BY = #{createdBy},</if>
            <if test="createdTime != null">CREATED_TIME = #{createdTime},</if>
            <if test="updatedBy != null">UPDATED_BY = #{updatedBy},</if>
            <if test="updatedTime != null">UPDATED_TIME = #{updatedTime},</if>
            <if test="isStatus != null">is_status = #{isStatus},</if>
        </trim>
        where fruit_id = #{fruitId}
    </update>

    <update id="deleteFruitsByFruitId" parameterType="Long">
        update fruits set is_status=0 where fruit_id = #{fruitId}
    </update>

    <update id="deleteFruitsByFruitIds" parameterType="String">
        update fruits set is_status=0 where fruit_id in
        <foreach item="fruitId" collection="array" open="(" separator="," close=")">
            #{fruitId}
        </foreach>
    </update>

</mapper>