<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.guoran.inventory.mapper.PurchaseorderdetailsMapper">
    
    <resultMap type="Purchaseorderdetails" id="PurchaseorderdetailsResult">
        <result property="pId"    column="P_id"    />
        <result property="sId"    column="s_id"    />
        <result property="pNumber"    column="p_number"    />
        <result property="fruittypesId"    column="fruitTypes_id"    />
        <result property="fruitId"    column="fruit_id"    />
        <result property="fruitName"    column="fruit_name"    />
        <result property="number"    column="number"    />
        <result property="price"    column="price"    />
        <result property="REVISION"    column="REVISION"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="createdTime"    column="CREATED_TIME"    />
        <result property="updatedBy"    column="UPDATED_BY"    />
        <result property="updatedTime"    column="UPDATED_TIME"    />
        <result property="isStatus"    column="is_status"    />
    </resultMap>

    <!--  仓库库存表的返回Map集合  -->
    <resultMap type="SysDept" id="SysDeptResult">
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
    </resultMap>

    <sql id="selectPurchaseorderdetailsVo">
        select P_id, s_id, p_number, fruitTypes_id, fruit_id, fruit_name, number, price, REVISION, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, is_status from purchaseorderdetails
    </sql>

    <select id="selectPurchaseorderdetailsList" parameterType="Purchaseorderdetails" resultMap="PurchaseorderdetailsResult">
        <include refid="selectPurchaseorderdetailsVo"/>
        <where>
            <if test="sId != null and sId != ''"> and s_id = #{sId}</if>
            <if test="pNumber != null and pNumber != ''"> and p_number = #{pNumber}</if>
            <if test="fruittypesId != null and fruittypesId != ''"> and fruitTypes_id = #{fruittypesId}</if>
            <if test="fruitId != null and fruitId != ''"> and fruit_id = #{fruitId}</if>
            <if test="fruitName != null and fruitName != ''"> and fruit_name like concat('%', #{fruitName}, '%')</if>
            <if test="number != null "> and number = #{number}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="isStatus != null "> and is_status = #{isStatus}</if>
        </where>

    </select>
    
    <select id="selectPurchaseorderdetailsByPId" parameterType="Long" resultMap="PurchaseorderdetailsResult">
        <include refid="selectPurchaseorderdetailsVo"/>
        where P_id = #{pId}
    </select>

<!--  根据门店名称查询门店编号  -->
    <select id="selectShopId" parameterType="String" resultType="String">
        select s_number from shop where s_name = #{sName}
    </select>

<!--  根据门店编号查询门店名称  -->
    <select id="selectShopName" parameterType="SysDept" resultType="String">
        select dept_name from sys_dept
        where dept_id = #{deptId}
        <if test="ancestors != null"> and ancestors = #{ancestors}</if>
    </select>

<!--  根据水果种类编号查询水果种类名称  -->
    <select id="selectFruitTypeName" parameterType="String" resultType="String">
        select name from fruittypes where code = #{code}
    </select>

<!--  查询登录仓库账号对应的下属门店 -->
    <select id="selectPurchaseorderdetailsByWareAncestors" parameterType="SysDept" resultMap="PurchaseorderdetailsResult">
        <include refid="selectPurchaseorderdetailsVo"/>
        where s_id in (select dept_id from sys_dept WHERE ancestors = #{ancestors} and dept_name not like '%仓库')
        <if test="deptId != null" > and s_id = #{deptId} </if>
    </select>

<!--  审核  -->
    <update id="auditByPId" parameterType="Purchaseorderdetails">
        update purchaseorderdetails set is_status = #{isStatus} where P_id = #{pId}
    </update>

<!--  确认送达后,在仓库中减去库存  -->
    <update id="reduceInventoryByWidAndFruitId" parameterType="Warehousestock">
        update warehousestock set wh_count = wh_count - #{whCount} where w_id = #{wId} and fruit_id = #{fruitId}
    </update>

</mapper>