<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.guoran.storeOperations.warehousestock.mapper.WarehousestockMapper1">
    
    <resultMap type="Warehousestock" id="WarehousestockResult">
        <result property="whId"    column="wh_id"    />
        <result property="wId"    column="w_id"    />
        <result property="fruitId"    column="fruit_id"    />
        <result property="fruittypesId"    column="fruitTypes_id"    />
        <result property="fruitName"    column="fruit_name"    />
        <result property="jinjia"    column="jinjia"    />
        <result property="whCount"    column="wh_count"    />
        <result property="REVISION"    column="REVISION"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="createdTime"    column="CREATED_TIME"    />
        <result property="updatedBy"    column="UPDATED_BY"    />
        <result property="updatedTime"    column="UPDATED_TIME"    />
        <result property="isStatus"    column="is_status"    />
        <result property="img"    column="img"    />
    </resultMap>

    <sql id="selectWarehousestockVo">
        select wh_id, w_id, fruit_id, fruitTypes_id, fruit_name, jinjia, wh_count, REVISION, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, is_status from warehousestock
    </sql>

    <select id="selectWarehousestockList" parameterType="Warehousestock" resultMap="WarehousestockResult">
        select a.wh_id, a.w_id, a.fruit_id, b.fruitTypes_id, b.name, a.jinjia, a.wh_count,b.code,a.fruit_name,a.fruitTypes_id,b.img from warehousestock a  left join fruits b on a.fruit_id = b.code

        <where>  
            <if test="wId != null "> and w_id = #{wId}</if>
            <if test="fruitId != null "> and fruit_id = #{fruitId}</if>
            <if test="fruittypesId != null  and fruittypesId != ''"> and fruitTypes_id = #{fruittypesId}</if>
            <if test="fruitName != null  and fruitName != ''"> and fruit_name like concat('%', #{fruitName}, '%')</if>
            <if test="jinjia != null  and jinjia != ''"> and jinjia = #{jinjia}</if>
            <if test="whCount != null "> and wh_count = #{whCount}</if>
            <if test="REVISION != null "> and REVISION = #{REVISION}</if>
            <if test="createdBy != null  and createdBy != ''"> and CREATED_BY = #{createdBy}</if>
            <if test="createdTime != null "> and CREATED_TIME = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and UPDATED_BY = #{updatedBy}</if>
            <if test="updatedTime != null "> and UPDATED_TIME = #{updatedTime}</if>
            <if test="isStatus != null "> and is_status = #{isStatus}</if>
        </where>
    </select>
    
    <select id="selectWarehousestockByWhId" parameterType="Long" resultMap="WarehousestockResult">
        <include refid="selectWarehousestockVo"/>
        where wh_id = #{whId}
    </select>

    <select id="selectShopByRen" parameterType="String">
        select s_number from shop where ren = #{ren}
    </select>

    <select id="selectWarehousestockByFruitId" parameterType="String">
        select * from warehousestock where fruit_id = #{fruitId}
    </select>
        
    <insert id="insertWarehousestock" parameterType="Warehousestock" useGeneratedKeys="true" keyProperty="whId">
        insert into warehousestock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wId != null">w_id,</if>
            <if test="fruitId != null">fruit_id,</if>
            <if test="fruittypesId != null">fruitTypes_id,</if>
            <if test="fruitName != null">fruit_name,</if>
            <if test="jinjia != null">jinjia,</if>
            <if test="whCount != null">wh_count,</if>
            <if test="REVISION != null">REVISION,</if>
            <if test="createdBy != null">CREATED_BY,</if>
            <if test="createdTime != null">CREATED_TIME,</if>
            <if test="updatedBy != null">UPDATED_BY,</if>
            <if test="updatedTime != null">UPDATED_TIME,</if>
            <if test="isStatus != null">is_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wId != null">#{wId},</if>
            <if test="fruitId != null">#{fruitId},</if>
            <if test="fruittypesId != null">#{fruittypesId},</if>
            <if test="fruitName != null">#{fruitName},</if>
            <if test="jinjia != null">#{jinjia},</if>
            <if test="whCount != null">#{whCount},</if>
            <if test="REVISION != null">#{REVISION},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
            <if test="isStatus != null">#{isStatus},</if>
         </trim>
    </insert>

    <update id="updateWarehousestock" parameterType="Warehousestock">
        update warehousestock
        <trim prefix="SET" suffixOverrides=",">
            <if test="wId != null">w_id = #{wId},</if>
            <if test="fruitId != null">fruit_id = #{fruitId},</if>
            <if test="fruittypesId != null">fruitTypes_id = #{fruittypesId},</if>
            <if test="fruitName != null">fruit_name = #{fruitName},</if>
            <if test="jinjia != null">jinjia = #{jinjia},</if>
            <if test="whCount != null">wh_count = #{whCount},</if>
            <if test="REVISION != null">REVISION = #{REVISION},</if>
            <if test="createdBy != null">CREATED_BY = #{createdBy},</if>
            <if test="createdTime != null">CREATED_TIME = #{createdTime},</if>
            <if test="updatedBy != null">UPDATED_BY = #{updatedBy},</if>
            <if test="updatedTime != null">UPDATED_TIME = #{updatedTime},</if>
            <if test="isStatus != null">is_status = #{isStatus},</if>
        </trim>
        where wh_id = #{whId}
    </update>


    <delete id="deleteWarehousestockByWhId" parameterType="Long">
        delete from warehousestock where wh_id = #{whId}
    </delete>

    <delete id="deleteWarehousestockByWhIds" parameterType="String">
        delete from warehousestock where wh_id in
        <foreach item="whId" collection="array" open="(" separator="," close=")">
            #{whId}
        </foreach>
    </delete>

</mapper>